In [27]:
import mysql.connector
import pymysql

host = 'localhost'
port = 3306
user = 'root'
passwd = 'root'
db = 'cocoa'
charset = 'utf8mb4'
 
connection = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)

mycursor = connection.cursor()

In [28]:
# 移除表格
# mycursor.execute('DROP TABLE IF EXISTS table_name')

0

In [23]:
sql = 'SELECT VERSION()'
mycursor.execute(sql)
data = mycursor.fetchone()
print ("Database version : %s " % data)

Database version : 8.0.20

In [18]:
#load_csv函式，引數分別為csv檔案路徑，表名稱，資料庫名稱
def load_csv(csv_file_path,table_name,database='cocoa'):
    #開啟csv檔案
    file = open(TC_Data.csv, 'r',encoding='utf-8')
    #讀取csv檔案第一行欄位名，建立表
    reader = file.readline()
    b = reader.split(',')
    colum = ''
    for a in b:
        colum = colum + a + ' varchar(255),'
    colum = colum[:-1]
    #編寫sql，create_sql負責建立表，data_sql負責匯入資料
    create_sql = 'create table if not exists ' + TC_DATA + ' ' + '(' + colum + ')' + ' DEFAULT CHARSET=utf8'
    data_sql = "LOAD DATA LOCAL INFILE '%s' INTO TABLE %s FIELDS TERMINATED BY ',' LINES TERMINATED BY '\\r\\n' IGNORE 1 LINES" % (csv_filename,table_name)
 
    #使用資料庫
    cur.execute('use %s' % cocoa)
    #設定編碼格式
    cur.execute('SET NAMES utf8;')
    cur.execute('SET character_set_connection=utf8;')
    #執行create_sql，建立表
    cur.execute(create_sql)
    #執行data_sql，匯入資料
    cur.execute(data_sql)
    conn.commit()
    #關閉連線
    conn.close()
    cur.close()

In [30]:
connection.close()