In [6]:
# import mysql.connector
# import pymysql

# host = 'localhost'
# port = 3306
# user = 'root'
# passwd = 'root'
# db = 'cocoa'
# charset = 'utf8mb4'
 
# connection = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)

# mycursor = connection.cursor()

In [1]:
import pandas as pd
from sqlalchemy import create_engine

db_info = {'user': 'root','password': 'root','host': 'localhost','port': 3306,'database': 'cocoa'}
engine = create_engine('mysql+pymysql://root:root@localhost:3306/cocoa')

In [2]:
df = pd.read_csv('TC_data_1660.csv', usecols=["訂單編號", "顧客姓名", "購買次數", "訂單日期", "訂單金額"])
print(df)

        訂單編號 顧客姓名  購買次數        訂單日期    訂單金額
0        NaN  NaN   NaN         NaN     NaN
1        1.0  邱啓芳   6.0   2021/1/15   659.0
2        2.0  陳雅雯   6.0   2021/1/15  2299.0
3        3.0  鄭哲智   7.0   2021/1/15   659.0
4        4.0  陳惠娟   5.0   2021/1/15  1158.0
...      ...  ...   ...         ...     ...
1656  1656.0  劉華融   8.0   2021/4/18  5588.0
1657  1657.0  林靜微   8.0  2021/11/11  3298.0
1658  1658.0  林美玉  14.0  2021/10/22  5638.0
1659  1659.0  頂秋雯   4.0    2021/8/6  5767.0
1660  1660.0  邱韶恩   4.0   2021/5/24  4179.0

[1661 rows x 5 columns]

In [3]:
pd.io.sql.to_sql(df,'TC_Data_1660',con=engine,index=False,if_exists='replace')

In [4]:
print("Write to MySQL successfully!")

Write to MySQL successfully!