In [14]:
# 連接資料庫
# import pymysql

# host = 'localhost'
# port = 3306
# user = 'root'
# passwd = 'root'
# db = 'cocoa'
# charset = 'utf8mb4'

# conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
# print('Successfully connected!')

# cursor = conn.cursor()

Successfully connected!

In [24]:
# 關閉連線
# cursor.close()
# conn.close()

In [ ]:
# 移除表格
# mycursor.execute('DROP TABLE IF EXISTS tc_menu')

In [25]:
import pandas as pd
empdata = pd.read_csv('/Users/yiting/Documents/Group1/TC_project/mysql/tc_menu.csv', index_col=False, delimiter = ',')
empdata.head()

   product_ID    product_name product_price
0           1  TC-綜合巧克力禮盒(小盒)           650
1           2      TC-柴燒黑糖巧克力           350
2           3   TC-100%無糖巧克力磚           350
3           4      TC-95%巧克力磚           350
4           5      TC-85%巧克力磚           350

In [27]:
import mysql.connector as mysql
from mysql.connector import Error
try:
    conn = mysql.connect(host='localhost', user='root',  
                        password='root')#give ur username, password
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE TC_test")
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Database is created

In [31]:
import mysql.connector as mysql
from mysql.connector import Error
try:
    conn = mysql.connect(host='localhost', database='TC_test', user='root', password='root')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS test_data;')
        print('Creating table....')
# in the below line please pass the create table statement which you want #to create
        cursor.execute("CREATE TABLE test_data(ID varchar(255),name varchar(255),price int)")
        print("Table is created....")
        #loop through the data frame
        for i,row in empdata.iterrows():
            #here %S means string values 
            sql = "INSERT INTO TC_test.test_data VALUES (%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)

You're connected to database:  ('tc_test',)
Creating table....
Table is created....
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Record inserted
Error while connecting to MySQL 1265 (01000): Data truncated for column 'price' at row 1